body {
  font-family: 'Zilla Slab', serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  background-color: rgba(194, 130, 63, .2);
}
input {
  padding: 8px;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: rgba(133, 255, 171, .5);
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px rgba(98, 239, 244, .5);
}
button:hover {
  background-color: rgba(116, 250, 158, 0.8);
}
button:active {
  background-color:  rgba(105, 249, 150, 1);
  box-shadow: 0 3px rgba(98, 239, 244, 1);
  transform: translateY(2px);
}
/* button pressed effect courtesy w3schools https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate3 */
.filtered {
  background-color:  rgba(105, 249, 150, 1);
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.cards ul {
  width: 300px;
  text-align: center;
}
.cards li {
  list-style-type: none;
  border: 3px black solid;
  background-color: rgba(242, 228, 216, .5);
  margin: 5px;
  width: max-content;
}
.cards li > p {
  font-weight: 600;
}
.cards li > span {
  font-weight: 200;
}
.cards img {
  max-width: 250px;
}