.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 5px;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.cards ul {
  width: 300px;
  text-align: center;
}
.cards li {
  list-style-type: none;
  border: 3px black solid;
  margin: 5px;
  width: max-content;
}
.cards img {
  max-width: 250px;
}